@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#Hero-Section {
  background: linear-gradient(rgba(116, 115, 115, 0.5)),
    url("../imgs/bg-hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30em;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.btn-shuiro {
  background-color: #c1440e;
  color: white;
  font-family: "Varela Round";
  letter-spacing: 0.15rem;
  filter: opacity(0.9);
}

.btn-shuiro:hover {
  background-color: transparent;
  color: #c1440e !important;
  border: 1;
  border-color: #c1440e;
}

.text-shuiro {
  color: #c1440e;
  filter: opacity(0.9);
}

.bg-section {
  background-color: #f1efe9;
}

.rounded-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #373a3c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.card-style {
  width: 100%;
  max-width: 22rem;
  margin-bottom: 2em;
}

.card:hover {
  transform: scale(1.02);
}

.link-style {
  color: #373a3c;
  text-decoration: none;
}

.link-style:hover {
  color: #c1440e;
  font-weight: 500;
}

.container-portfolio {
  min-height: 100vh;
  background: linear-gradient(rgba(116, 115, 115, 0.5)),
    url("../imgs/bg-hero.jpg");
  background-size: cover;
  background-position: center;
}
